#vacina-counter{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#vacina-counter .vacina-dcounter{
	margin-bottom:  2.5rem;
}

#vacina-counter #vacina-counter-header{
	padding: 2rem ;
}

.dose-counter-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}