.disclaimer-container{
	display: flex;
	flex-direction: row;
	justify-content: center;

	width: 100%;

	padding: 0 30px;
	color: var(--red);

}

.disclaimer-container span{
	font-size: 13.5px;
	font-weight: 500;
	line-height: 20px;

	padding-right: 10px;

	margin-left: 12px;
}

.disclaimer-container i{
	font-size: 36px;
}