#home-page{
	display: flex;
	flex-direction: column;
}

#home-page .disclaimer-container{
	margin-top: 60px;
}

#home-page #copy-footer{
	margin-top: 38px;
}

@media (min-width: 769px) and (min-height: 780px) {
	#home-page #vacina-counter{
		margin-top: 5vh;
	}
}