.header-btns{	
	display: flex;
	align-items: center;
	justify-content: center;

	height: 3rem;
	width: 18.8rem;

	cursor: pointer;
}

.header-btn-content{
	font-size: 1.8rem;
	padding: 0 0.4rem;
}

.btn-icon{
	font-size: 2.4rem;
}
