.home-hint-container{
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	padding: 0 60px;

	font-weight: 500;
}

.hhint-text{
	font-size: 1.6rem ;
	color: var(--green);
	line-height: 2.2rem;	

	margin-bottom: 2.9rem;
}

.hhint-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	
	color: var(--dark-green);
	border-radius: 3px;
	border: 3px solid var(--dark-green);
	width: 20.4rem;
	height: 46px;
	cursor: pointer;
}

.hhint-button span{
	padding-left: 1.5rem;
	font-size: 1.7rem;
	line-height: 1.6rem;
}

.hhint-button i {
	margin-top: 4px;
	padding-right: 1.5rem;
	font-size: 3.2rem;
}